	<div id="mySidenav" class="sidenav">	
    <p class="logo"><span>W</span>ood Pecker</p>
	  <a href="/admin/adminpanel" class="icon-a"><i class="fa fa-dashboard icons"></i>   Dashboard</a>
	  <a href="/admin/product"class="icon-a"><i class="fa fa-tasks icons"></i>  Products</a>
	  <a href="/admin/customers"class="icon-a"><i class="fa fa-users icons"></i>   Customers</a>
	  <a href="#"class="icon-a"><i class="fa fa-shopping-bag icons"></i>   Orders</a>
	  {{!-- <a href="#"class="icon-a"><i class="fa fa-tasks icons"></i>   Inventory</a>
	  <a href="#"class="icon-a"><i class="fa fa-user icons"></i>   Accounts</a>
	  <a href="#"class="icon-a"><i class="fa fa-list-alt icons"></i>   Tasks</a> --}}

	</div>
