 <script src="https://use.fontawesome.com/f59bcd8580.js"></script>  
 <div class="container">  
 <div class="row m-5 no-gutters shadow-lg">  
 {{!-- <div class="col-md-6 d-none d-md-block">  
 <img src="https://images.unsplash.com/photo-1566888596782-c7f41cc184c5?ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80" class="img-fluid" style="min-height:100%;" />  
 </div>   --}}
 <div class="col-md-12 bg-white p-5 mt-2 text-center">  
 <h3 class="pb-3 ">Enter new password</h3>  
 <div class="form-style">  
 <form action="/resetpassword" method="post" id="reset_password">  
  <div class="form-group pb-3 ">    
   <input type="password" placeholder="password" class="form-control" id="password "  name="password">    
  </div> 
   <div class="form-group pb-3 ">    
   <input type="password" placeholder="Confirm password" class="form-control"   name="c_password">    
  </div>  
 </div>  
   <div class="pb-2">  
  <input type="submit" value="submit" class="btn btn-dark w-100 font-weight-bold mt-2"></input>  
   </div>  
 </form> 
</div>  
 </div>  
 </div>  
 </div>